<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Financial Data</title>
    <link rel="stylesheet" href="/css/main.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.18.5/xlsx.full.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/xlsx-js-style@1.2.0/dist/xlsx.min.js"></script>
    <script src="/js/main.js"></script>
</head>
<body>
<div class="container">
    <h1>Ez Finance V1.0</h1>

    <div class="form-container">
        <div class="symbol-section">
            <h2>検索する企業リスト</h2>
            <div class="symbol-input-group">
                <input type="text" id="symbol" placeholder="例） 6701, 6758">
                <button class="add-btn" type="submit" onclick="addSymbol()">追加</button>
            </div>
            <ul id="symbolList">
                <!-- 추가된 기업 코드 목록 -->
            </ul>
            <div class="reset-container">
                <button class="reset-btn" onclick="resetSymbols()">企業リストをリセットする</button>
                <span class="warning-message">リセットすれば、初期登録した銘柄になります。</span>
            </div>
        </div>

        <div class="date-section">
            <div>
                <label for="startDate">検索開始日　:</label>
                <input type="date" id="startDate">
            </div>
            <div>
                <label for="endDate">検索終了日 :</label>
                <input type="date" id="endDate">
            </div>
            <button type="submit" onclick="fetchFinancialData()">検索</button>

            <!-- 메모 표시 섹션 추가 -->
            <div class="memo-section">
                <p id="memoDisplay">メモがありません。</p>
                <button id="editMemoBtn" onclick="toggleMemoEdit()">メモを修正</button>
                <textarea id="memoTextarea" style="display: none;"></textarea>
                <button id="saveMemoBtn" style="display: none;" onclick="saveMemo()">保存</button>
            </div>
        </div>

    </div>

    <h2>検索結果
        <button class="export-btn" onclick="exportToExcel()">Excelに変換</button>
    </h2>
    <h4>
        株式市場が開いている日であれば、午前10時以降から通常の検索が可能です。
    </h4>
    <table>
        <thead>
        <tr>
            <th>日付</th>
            <th>銘柄</th>
            <th>始値</th>
            <th>10:00</th>
            <th>11:00</th>
            <th>13:00</th>
            <th>14:00</th>
            <th>終値</th>
            <th>備考</th>
        </tr>
        </thead>
        <tbody id="financialData">
        <!-- 데이터가 여기 채워집니다 -->
        </tbody>
    </table>
</div>

<!-- 로딩 상태 컨테이너 -->
<div id="loading-container" style="display: none;">
    <div id="loading">
        検索中です。。。
    </div>
</div>
</body>
</html>
